body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#top{
    font-size: 30px;
    padding: 10px;
}

#genre{
    font-size: 30px;
    padding: 10px;
}

#difficult{
    font-size: 30px;
    padding: 10px;
}

/* hr{
    height: 1px;
    border: none;
    border-top: 1px #000000 solid;
} */